@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
  max-width: 100vw;
  height: 100vh;
  background: #23d5ab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  color:rgba(0, 0, 0, 0.8);
  font-size: 1.1rem;
}

main {
  /* padding: 1rem; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  max-width: 85%;
  margin: auto;
}

* {
  box-sizing: border-box;
  font-family: 'Sofia Sans Semi Condensed', sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 1rem;
}

p {
  margin: 0;
  font-size: 1.4rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color:white;
}

a:active {
  color: black;
}

button {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid rgba(255, 255, 255, 0.27);
  padding: 1rem;
  font-size: 1.4rem;
  overflow: hidden;
}

button:active {
  background: rgba(255, 255, 255, 0.4);
}

button:hover {
  opacity: 0.9;
}

 .secondaryBtn {
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.27);
}

/* button:after {
    content: '';
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: linear-gradient(to bottom, rgba(189, 189, 189, 0), rgba(225, 225, 225, 0.678) 50%, rgba(192, 192, 192, 0));
    transform: rotateZ(60deg) translate(-1em, 4.5em);
}

button:hover::after, button:active::after {
  animation: sheen 1s forwards;
} */

.glass {
  background: rgba(255, 255, 255, 0.33);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.27);
}

.container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  gap: 2%;
}

.themeCont {
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: column;
  min-height: 50%;
  width: 70%;
  text-align: center;
}

.themeContPart2 {
  min-height: 20%;
  width: 100%;
}

.btn-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 2%;
  justify-content: center;
}

.instructionBox {
  max-width: 50%;
  padding: 3rem;
}

.instructionBox h3 {
  margin-bottom: 0.5rem;
  font-weight: 800;
  border-bottom: solid 1px white;
}

.instructionBox p {
  font-weight: 400;
  font-size: 1.2rem;
}

.instructionBox h3:first-child {
  margin-top: 0;
}


@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(0em, -9em);
  }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media only screen and (max-width: 1000px) {
  .instructionBox {
    max-width: 80%;
    padding: 2rem;
  }

}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {
  h2 {
    font-size: 1.6rem;
  }

  button {
    padding: 0.8rem;
    font-size: 1.2rem;
  }

  .themeCont {
    width: 100%;
    min-height: 33%;
    padding: 0.5rem;
  }

  .instructionBox {
    max-width: 100%;
  }
}