.navbar {
  padding: 1rem;
  display: flex;
  border-radius: 0;
  border: none;
  background: linear-gradient(to right, #62cc54, #bfe285);
}

.navCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
}

.navbar h1 {
  font-size: 2rem;
  margin: 0;
}

.rightNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (max-width: 1200px) {
  .navCont {
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .navCont {
    width: 100%;
  }

  .navbar h1 {
    font-size: 1.4rem;
    margin: 0;
  }

  .rightNav ul {
    gap: 1rem;
  }

  .rightNav ul a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    padding: 0.5rem;
  }

  .navCont {
    flex-direction: column;
    justify-content: space-around;
  }
}
