.imgsCont {
  display: flex;
  gap: 1rem;
  max-height: 60%;
}

.img {
  width: 50%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 1rem;
}

@media only screen and (max-width: 768px) {
  .imgsCont {
    flex-direction: column;
  }

  .img {
    width: 100%;
  }
}